.about-container {
  padding: 40px 20px;
  h1 {
    margin-bottom: 40px;
  }
  h2 {
    font-weight: 600;
  }
}

.about-about {
  margin-bottom: 40px;
  &__img {
    display: flex;
    justify-content: center;
    img {
      max-width: 280px;
      margin: 0 auto 40px auto;
    }
  }

  &__tx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
}

.about-skills {
  margin-bottom: 40px;
  &__icons {
    img {
      height: 38px;
      margin: 10px;
    }
  }
}

.about-education {
  margin-bottom: 40px;
}

.about-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  a {
    text-transform: uppercase;
    color: $body-color;
    font-weight: 500;
    border: 3px solid $color-primary;
    border-radius: 0.2rem;
    padding: 8px 32px;
    margin: 20px 20px 20px 0px;
  }
}

@media (min-width: 576px) {
  .about-buttons {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .about-about {
    &__img {
      display: flex;
      justify-content: start;
      img {
        max-width: 320px;
        margin: 0 0 40px 0;
      }
    }
  }
}
