.contact-container {
  padding: 40px 20px;
  h1 {
    margin-bottom: 20px;
  }
}

.contact-links {
  margin: 30px 0;
  border-top: 2px solid $color-accent;
  border-bottom: 2px solid $color-accent;
  padding: 20px 20px;
  .col-md-6 {
    padding-left: 0;
    margin-bottom: 20px;
  }

  a {
    color: $body-color;
    i {
      font-size: 2rem;
      margin: 10px;
    }
  }
}

.contact-form {
  max-width: 600px;
  .form-control {
    background-color: #f5f5f5;
  }

  button {
    background-color: $color-primary;
    padding: 8px 32px;
    border: 3px solid $color-primary;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
      background-color: $white;
      border: 3px solid $color-primary;
      color: $body-color;
    }
    &:active {
      transform: translateY(2px);
      transition: 0.2s;
    }
  }
}
