.breadcrumb {
  padding: 30px 20px;
  a {
    color: $body-color;
    &:hover {
      text-decoration: underline;
    }
  }
  .breadcrumb-active {
    color: #747474;
  }
}

.details-container {
  padding: 0 20px 40px 20px;
  h1 {
    margin-bottom: 40px;
  }
}

.details-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  &__desk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__desk-img1,
  &__desk-img2,
  &__desk-img3 {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
  }
  &__desk-camellia1 {
    background-image: url("../images/camellia/camellia.jpg");
    margin-bottom: 30px;
  }
  &__desk-camellia2 {
    background-image: url("../images/camellia/camellia2.jpg");
    margin-bottom: 30px;
  }
  &__desk-camellia3 {
    background-image: url("../images/camellia/camellia3.jpg");
  }

  &__desk-enjoy1 {
    background-image: url("../images/enjoy/enjoy-living.jpg");
    margin-bottom: 30px;
  }
  &__desk-enjoy2 {
    background-image: url("../images/enjoy/enjoy-living3.jpg");
    margin-bottom: 30px;
  }
  &__desk-enjoy3 {
    background-image: url("../images/enjoy/enjoy-living4.jpg");
  }
  &__desk-letha1 {
    background-image: url("../images/letha/letha.jpg");
    margin-bottom: 30px;
  }
  &__desk-letha2 {
    background-image: url("../images/letha/letha3.jpg");
    margin-bottom: 30px;
  }
  &__desk-letha3 {
    background-image: url("../images/letha/letha4.jpg");
  }
  &__desk-science1 {
    background-image: url("../images/science/science.jpg");
    margin-bottom: 30px;
  }
  &__desk-science2 {
    background-image: url("../images/science/science3.jpg");
    margin-bottom: 30px;
  }
  &__desk-science3 {
    background-image: url("../images/science/science4.jpg");
  }
  &__desk-recycle1 {
    background-image: url("../images/recycle/recycle.jpg");
    margin-bottom: 30px;
  }
  &__desk-recycle2 {
    background-image: url("../images/recycle/recycle3.jpg");
    margin-bottom: 30px;
  }
  &__desk-recycle3 {
    background-image: url("../images/recycle/recycle4.jpg");
  }
}

.details-tx {
  padding: 0 20px;
  height: 100%;
  &__about {
    margin-bottom: 40px;
  }
  &__tools {
    margin-bottom: 40px;
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 10px;
    }
    &--graphic-icons {
      margin-bottom: 30px;
    }
    &--graphic-icons img,
    &--coding-icons img {
      height: 32px;
      margin: 5px;
    }
  }
}

.details-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  a {
    text-transform: uppercase;
    color: $body-color;
    font-weight: 500;
    border: 3px solid $color-primary;
    border-radius: 0.2rem;
    padding: 8px 32px;
    margin: 20px 20px 20px 0px;
  }
}

@media (min-width: $bootstrap-sm) {
  .details-links {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $bootstrap-md) {
  .details-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__mob {
      width: 400px;
      height: 660px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
    }
    &__mob-camellia {
      background-image: url("../images/camellia/camelia-mob.jpg");
    }
    &__mob-enjoy {
      background-image: url("../images/enjoy/enjoy-living-mob.jpg");
    }
    &__mob-letha {
      background-image: url("../images/letha/letha-mob.jpg");
    }
    &__mob-science {
      background-image: url("../images/science/science-mob.jpg");
    }
    &__mob-recycle {
      background-image: url("../images/recycle/recycle-mob.jpg");
    }
    &__desk-img1,
    &__desk-img2,
    &__desk-img3 {
      width: 200px;
    }
  }
  .details-tx {
    &__tools {
      &--graphic-icons img,
      &--coding-icons img {
        height: 38px;
        margin: 5px;
      }
    }
  }
}
