.home-intro {
  background-color: $color-secondary-light;
  padding: 0 20px 40px 20px;
  margin-bottom: 50px;
  min-height: 600px;

  &__img {
    background-image: url("../images/MeditatingDoodle.png");
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }

  &__tx {
    text-align: center;

    h1 {
      font-weight: 600;
      line-height: 3.25rem;
    }

    p {
      font-size: 1.125rem;
      margin-bottom: 35px;
    }

    a {
      background-color: $color-primary;
      padding: 8px 16px;
      border: 3px solid $color-primary;
      border-radius: 0.2rem;
      box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      color: $white;
      font-weight: 500;
    }
  }
}

.home-projects {
  padding: 0 20px 40px 20px;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 40px;
    font-weight: 600;
  }

  .col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card {
    margin-bottom: 40px;
    h3 {
      border-bottom: 2px solid $body-color;
      margin-bottom: 10px;
      padding: 0px;
    }
    img {
      box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
      border-radius: 0.2rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__about {
    margin: 30px 0;
    font-style: italic;
  }

  &__tx-card {
    height: 450px;
    border: 4px solid $body-color;
    text-align: end;
    position: relative;
    .card-text {
      font-size: 1.5rem;
      text-transform: uppercase;
      line-height: 3.25rem;
      position: absolute;
      bottom: 24px;
      right: 24px;
      span {
        font-size: 2.25rem;
        font-weight: 600;
      }
    }
  }

  &__btn {
    text-align: end;
    a {
      text-transform: uppercase;
      color: $white;
      font-weight: 600;
      background-color: $color-primary;
      border: 3px solid $color-primary;
      border-radius: 0.2rem;
      padding: 8px 32px;
      box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.home-skills {
  padding: 40px 20px 60px 20px;
  background-image: url("../images/concrete-bg-yasser-fathy-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h2 {
    margin-bottom: 40px;
    font-weight: 600;
  }
  .card {
    border: 3px solid $body-color;
    border-radius: 0.2rem;
    height: 100%;
    span {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

@media (min-width: 768px) {
  .home-intro {
    h1 {
      line-height: 4rem;
    }
  }

  .card {
    &__tx-card {
      .card-text {
        span {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .home-intro {
    padding-top: 40px;

    .home-intro__tx {
      display: flex;
      flex-direction: column;
      justify-content: center;

      align-items: flex-end;
      h1 {
        line-height: 4.5rem;
        text-align: end;
      }
    }
  }
  .home-projects {
    .card {
      margin-bottom: 20px;
    }
    &__tx-card {
      height: 550px;
    }
  }
}

@media (min-width: 1400px) {
  .home-projects {
    .card {
      margin-bottom: 0px;
    }
  }
}
