.navbar {
  background-color: $color-secondary-light;
}

.nav-item a {
  color: $body-color;
  margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $color-accent;
}

.active {
  font-weight: 500;
  border-bottom: 1px solid $body-color;
}

.navbar-brand {
  color: $body-color;
  font-family: "Montserrat", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 500;
  &:hover {
    transform: translateY(1.5px);
    opacity: 0.8;
    transition: 0.2s;
  }
  span {
    color: $color-accent;
    font-weight: 600;
  }
}

.navbar-toggler {
  border: none;
}

@media (min-width: $bootstrap-lg) {
  .nav-item a {
    margin-right: 20px;
  }
}
