.projects-container {
  padding: 40px 20px;
  h1 {
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 60px;
  }
}

.projects-projects {
  margin-bottom: 50px;
  a {
    color: $body-color;
  }
  .card {
    margin-bottom: 40px;
    h3 {
      border-bottom: 2px solid $body-color;
      margin-bottom: 10px;
      padding: 0px;
    }
    img {
      box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
      border-radius: 0.2rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__card-tx {
    height: 350px;
    border: 4px solid $body-color;
    text-align: end;
    position: relative;
    .card-text {
      font-size: 1.5rem;
      line-height: 2.5rem;
      position: absolute;
      bottom: 24px;
      right: 24px;
      span {
        font-weight: 600;
      }
    }
  }
}

.projects-other {
  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 250px;
      margin-bottom: 20px;
    }
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-transform: uppercase;
      color: $body-color;
      font-weight: 500;
      border: 3px solid $color-primary;
      border-radius: 0.2rem;
      padding: 8px 32px;
    }
  }
}

@media (min-width: 768px) {
  .projects-projects {
    &__card-tx {
      height: 450px;
    }
  }

  .projects-other {
    &__img {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      img {
        max-height: 200px;
        max-width: none;
      }
    }
    &__btn {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
