body {
  font-family: $font-primary;
  line-height: 1.619rem;
}

h1,
h2,
h3 {
  font-family: $font-headings;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

@media (min-width: $bootstrap-md) {
  h1 {
    font-size: 3.125rem;
  }
}

@media (min-width: $bootstrap-lg) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
